::ng-deep .ngx-pagination li {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
::ng-deep pagination-controls nav {
  text-align: center;
}
.text-center {
  text-align: center;
}
.error {
  color: red;
}
